# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

minimum_pre_commit_version: 2.9.0

exclude: "device/src/uapi/.*"
repos:
    # global hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
            exclude: "third_party/.*/vendor/.*"
          - id: check-ast
          - id: check-json
          - id: check-yaml
            args: [--unsafe]
          - id: check-added-large-files
            exclude: "third_party/.*/vendor/.*"
          - id: check-merge-conflict
          - id: debug-statements
          - id: mixed-line-ending
            exclude: "third_party/.*/vendor/.*"
    - repo: https://github.com/PeterMosmans/jenkinslint
      rev: v1.0.0
      hooks:
          - id: jenkinslint
            files: Jenkinsfile
    - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
      rev: v9.16.0
      hooks:
        - id: commitlint
          stages: [commit-msg]
          additional_dependencies: ['@commitlint/config-conventional']
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.1.0
      hooks:
          - id: prettier
            types: [markdown]
    - repo: https://github.com/cheshirekow/cmake-format-precommit
      rev: v0.6.13
      hooks:
        - id: cmake-format
        - id: cmake-lint
    - repo: https://github.com/PyCQA/pylint
      rev: v3.1.0
      hooks:
        - id: pylint
          additional_dependencies: &pip-packages
            - pystache==0.6.0
            - PyYAML==6.0
            - types-PyYAML==6.0.7
            - parameterized==0.8.1
    - repo: https://github.com/PyCQA/flake8
      rev: 7.0.0
      hooks:
        - id: flake8
          args: ['--max-line-length=120']
    - repo: https://github.com/psf/black
      rev: 24.4.2
      hooks:
        - id: black
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.10.0
      hooks:
        - id: mypy
          additional_dependencies: *pip-packages
    - repo: https://github.com/pre-commit/mirrors-clang-format
      rev: v16.0.4
      hooks:
        - id: clang-format
    - repo: https://github.com/codespell-project/codespell
      rev: v2.2.6
      hooks:
        - id: codespell
          exclude: "third_party/.*/vendor/.*"
    - repo: https://gitlab.gpu.arm.com/pre-commit/copyright.git
      rev: v1.0.0-alpha.16
      hooks:
        - id: copyright
          exclude: (?x)^(
            third_party/.*/vendor/.*
            |test/workload/src/workload_impl.[ch]pp
            )$
          types_or: [c, c++, python]
